<div class="jumbotron text-center">
  <h1 class="jumbotron-heading">Welcome to my website</h1>
  <p class="lead text-muted">Check out the categories below to shop and have a good day!</p>
</div>

<div >
  <div class="container">

    <div class="row">

      <div *ngFor="let category of categorylist" class="col-md-4" (mouseenter)="onCardHover(category._id)"
                    (mouseleave) ="onCardHoverEnd(category._id)">
        <div class= "card mb-4 box-shadow" [ngClass]="{'shadow-lg': id==category._id && hovered==true}">
          <img class="card-img-top" src="{{category.image}}" alt="Category Icon">
          <div class="card-body">
            <p class="card-text">{{category.name}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
