<div class="container" >


    <div *ngIf="loading">
      <h2>
        Loading products for {{mycategory.name}}
      </h2>
    </div>

    <div class="row">
    <div *ngFor="let product of productlist" class="col-md-3" (mouseenter)="onCardHover(product._id)" (click)="onProductClicked(product._id)"
                  (mouseleave) ="onCardHoverEnd(product._id)">
      <div class= "card mb-4 box-shadow" [ngClass]="{'shadow-lg': id==product._id && hovered==true}">
        <div class="card-img-top squaree" [ngStyle]="{'background-image' : 'url('+product.image+')'}">

        </div>
        <!--
        <img class="card-img-top" src="{{category.image}}" alt="Category Icon">
      -->
        <div class="card-body">
          <p class="card-text">{{product.name}}</p>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">{{product.price}}</p>
        </div>
      </div>
    </div>

  </div>

</div>
